*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.html
*.mdb
*.pbf
*.shp*
*.shx
*.xls*
*.zip
*_files
.DS_Store
.RData
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
cover.txt
data/*
docs
libs
open_ruimte/*
output
output/*
renv/library
